<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta type = "keyword" content="luck tree payments details history">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Vishal vishwakarma">
    <link rel="stylesheet" href="../CSS/funds.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <script defer src="../JS/funds.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div class="main_box">
    {{!-- <header> --}}
        <div class="history_header">
            <div class="header">
                <span class="logo"></span>
                <h3>
                    <p>₹ <label class = "balance">00,00000</label></p>
                </h3>
            </div>
        
            <div></div>
            <div></div>
            <div></div>
        </div>
    {{!-- </header> --}}
 
    <div class="funds_title">
        <h2>Notifications</h2>
    </div>

    <div class="funds_content">
      {{!-- dynamic content will be added here --}}
    </div>

    {{!------------ footer -------------- --}}
    <div id='footer'>
    
        <div>
            <ion-icon name="home-outline"></ion-icon>
            <a href="home">
                <h5>HOME</h5>
            </a>
        </div>
    
        <div>
            <ion-icon name="refresh-sharp"></ion-icon>
            <a href="history">
                <h5>HISTORY</h5>
            </a>
        </div>
    
        <div>
            <ion-icon name="newspaper-outline"></ion-icon>
            <a href="result">
                <h5>RESULT</h5>
            </a>
        </div>
    
        <div>
            <ion-icon name="person-outline"></ion-icon>
            <a href="profile">
                <h5>PROFILE</h5>
            </a>
        </div>
    
    </div>
    
    <!------------ footer for pc ------------- -->

    <nav class="main-menu">
        <ul>
            <li class="has-subnav">
                <a href="home">
                    <ion-icon name="home-outline" role="img" class="md hydrated" aria-label="home outline"></ion-icon>
                    <span class="nav-text">
                        HOME
                    </span>
                </a>
    
            </li>
            <li class="has-subnav">
                <a href="history">
                    <ion-icon name="refresh-sharp" role="img" class="md hydrated" aria-label="refresh sharp"></ion-icon>
                    <span class="nav-text pc_histo">
                        BET HISTORY
                    </span>
                </a>
    
            </li>
            <li class="has-subnav">
                <a href="result">
                    <ion-icon name="newspaper-outline" role="img" class="md hydrated"
                        aria-label="newspaper outline"></ion-icon>
                    <span class="nav-text">
                        RESULT
                    </span>
                </a>
    
            </li>
            <li>
                <a href="profile">
                    <ion-icon name="person-outline" role="img" class="md hydrated" aria-label="person outline"></ion-icon>
                    <span class="nav-text">
                        PROFILE
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cogs fa-2x"></i>
                    <span class="nav-text">
                        SETTING
                    </span>
                </a>
            </li>
    
        </ul>
    </nav>
</div>

</body>
</html>