<html lang="en" class="hydrated">

<head>
  <meta charset="UTF-8">
  <style data-styles="">
    ion-icon {
      visibility: hidden
    }

    .hydrated {
      visibility: inherit
    }
  </style>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>HOME</title>
  <link rel="stylesheet" href="../CSS/home.css">
      <link rel="stylesheet" href="../CSS/footer.css">
      <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
  <meta name="keywords" content="home , luck tree , lottery , prediction , cheap products">
  <meta name="description" content="luck tree home page latest products.">
  <meta name="author" content="Rahul vishwakarma">
</head>

<body data-new-gr-c-s-check-loaded="14.1100.0" data-gr-ext-installed="">
  <section class="home">
    <div class="home_win_pics" style="filter: blur(0px);">
      <div class="header">
        <span class="logo"></span>
        <h2>
          <p>₹ <label class="balance">00,000</label></p>
          <span class="notification"><ion-icon name="notifications"></ion-icon></span>
        </h2>
      </div>


      <div
        class="swiper mySwiper swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-1d6ebaa873280b6e" aria-live="off"
          style="transition-duration: 0ms;">
          <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2"
            role="group" aria-label="3 / 3"
            style="width: 1031px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
            <img
              class = "winner_images"
              alt="PHOTO NOT FOUND">
          </div>
          <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" role="group" aria-label="1 / 3"
            style="width: 1031px; opacity: 1; transform: translate3d(-1031px, 0px, 0px); transition-duration: 0ms;">
            <img class = "winner_images" alt="PHOTO NOT FOUND">
          </div>
          <div class="swiper-slide swiper-slide-visible swiper-slide-active" data-swiper-slide-index="1" role="group"
            aria-label="2 / 3"
            style="width: 1031px; opacity: 1; transform: translate3d(-2062px, 0px, 0px); transition-duration: 0ms;">
            <img class = "winner_images" alt="PHOTO NOT FOUND">
          </div>

        </div>
        <div
          class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
          <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span
            class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
            aria-label="Go to slide 2" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0"
            role="button" aria-label="Go to slide 3"></span>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
      </div>



    </div>
 
    <div id="products_parent" class="products">

     {{!-- dynamic content will be added here --}}
   
    </div>


    <!--  ---------- creating the new footer - -------->

    <div id="footer" class="">
       <div>
          <ion-icon name="home-outline" role="img" class="md hydrated" aria-label="home outline"></ion-icon>
          <a href="home">
            <h5>HOME</h5>
          </a>
        </div>


        <div>
        <ion-icon name="refresh-sharp" role="img" class="md hydrated" aria-label="refresh sharp"></ion-icon>
        <a href="history">
          <h5>HISTORY</h5>
        </a>
      </div>

      <!-- this div will represent the rupee button -->
      <div id="footer-crown" class="crown-added purchase_btn footer-crown">
      
      </div>

      <div>
        <ion-icon name="newspaper-outline" role="img" class="md hydrated" aria-label="newspaper outline"></ion-icon>
        <a href="result">
          <h5>RESULT</h5>
        </a>
      </div>

      <div>
        <ion-icon name="person-outline" role="img" class="md hydrated" aria-label="person outline"></ion-icon>
        <a href="profile">
          <h5>PROFILE</h5>
        </a>
      </div>

    </div>

        <!------------ footer for pc --------------->

    <nav class="main-menu">
      <ul>
        <li class="has-subnav">
          <a href="home">
            <ion-icon name="home-outline" role="img" class="md hydrated" aria-label="home outline"></ion-icon>
            <span class="nav-text pc_homo">
              HOME
            </span>
          </a>

        </li>
        <li class="has-subnav">
          <a href="history">
            <ion-icon name="refresh-sharp" role="img" class="md hydrated" aria-label="refresh sharp"></ion-icon>
            <span class="nav-text">
              BET HISTORY
            </span>
          </a>

        </li>
        <li class="has-subnav">
          <a href="result">
            <ion-icon name="newspaper-outline" role="img" class="md hydrated" aria-label="newspaper outline"></ion-icon>
            <span class="nav-text">
              RESULT
            </span>
          </a>

        </li>
        <li>
          <a href="profile">
            <ion-icon name="person-outline" role="img" class="md hydrated" aria-label="person outline"></ion-icon>
            <span class="nav-text">
              PROFILE
            </span>
          </a>
        </li>
        <li>
          <a href="settings">
            <i class="fa fa-cogs fa-2x"></i>
            <span class="nav-text">
              SETTING
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <div id="final_product_id">0</div>
  </section>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    document.querySelector('.notification').addEventListener('click' , ()=>{
      window.location.href = window.location.origin + '/funds';
    })
    var swiper = new Swiper(".mySwiper", {
      effect: "fade",
      loop: true,
      autoplay: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });

  
    function refresh_onclick(){

    if(window.innerWidth < 490){
      let x = document.querySelectorAll('.bet_one')
      x.forEach((ele)=>{
        
        ele.addEventListener('click' , ()=>{
          let  id = ele.querySelector('.product_id').innerText;
          document.querySelector('#final_product_id').innerText = id;
          document.querySelector('#footer').classList.toggle('updated-footer');
          let footer_crown = document.querySelector('#footer-crown')
          footer_crown.classList.add('crown-added');
          ele.classList.add('focused');
          footer_crown.classList.toggle('footer-crown');
        })
      })

    }
     
    let purchase_btns = document.querySelectorAll('.purchase_btn');
    purchase_btns.forEach((element)=>{
      element.addEventListener('click' , async ()=>{
        let selected = document.querySelector('#final_product_id').innerText;
        
        if(!selected || selected === 0 || selected == undefined){
          alert('SOMETHING WENT WRONG');
          window.location.reload();
          return;
        }

         let res = await fetch('/purchase_lottery' , {
          method : "POST",
          headers : {
            'content-type' : 'application/json'
          },
          body : JSON.stringify({ LOTTERY_ID  : parseInt(selected)})
         })
         res = await res.json();
         if(res['status'] == 0){
          window.location.href = window.location.origin + '/login';
          return;
         }else if(res['status'] == 1){
           alert('PURCHASE DONE');
           window.location.reload();
         }else{
          alert(res['status']);
          window.location.reload();
         }
      })
    })

    }
     
      //------------setting up the new lottery -------------------- 

      const product_cards = { 1: 'itchi', 2: 'two', 3: 'three' };
      const create_lottery_plates = (data) => {
        let parent = document.querySelector('#products_parent');
        let count = 1;
        for (let lottery of data) {
          let child = document.createElement('div');
          child.classList.add('bet_one');
          console.log(product_cards[count]);
          child.classList.add(product_cards[count]);
          child.innerHTML = `

        <div class="o"></div>
        <div class="t"></div>
        <div class="th"></div>
        <div class = "product_id" style = "display : none;">${lottery['LOTTERY_ID']}</div>

        <div class="bet_one_f">
          <div class="descrp">
            <h2>
              ${lottery['DESCRIPTION']}
            </h2>
          </div>
          <div class="item" style= "background-image: url(${lottery['IMAGE']});">
          </div>
        </div>

        <div class="timer">
          <div>
            <ion-icon name="notifications-outline"></ion-icon>
            <h2>${lottery['TIME']}</h2>
          </div>
          <div class = "pc_lottery_purchase_btn">
            <button>PURCHASE</button>
          </div>
          <div>
          <ion-icon name="today-outline"></ion-icon>  
          <h2>${lottery['DATE']}</h2>
          </div>

        </div>

       `
          count++;
          parent.appendChild(child);
          count = (count == 4) ? 0 : count;
        }
        refresh_onclick();
       }

      const get_newLottery = async () => {
        let res = await fetch('/get_new_lottery');
        res = await res.json();

        if (res['status'] == 0) {
          window.location.href = window.location.origin + '/login';
          return;
        } else {
          create_lottery_plates(res);
        }
      }
      get_newLottery();
    // --------------- new lottery ends here ------------------

  </script>
  <script> 
     let winner_box = document.querySelectorAll('.winner_images');
     
     window.addEventListener('load' , async ()=>{
        let res = await fetch('/get_winner_images');
        res = await res.json();
        
        for(let i = 0; i <= 2 ; i++){
          winner_box[i].src = `../PHOTOS/${res[i]}`; 
        }

        let user_data = await fetch('/user_data');
        user_data = await user_data.json();
        if(user_data['status'] === 2 || user_data['status'] === 3){
          window.location.href = window.location.origin + '/login';
        }else{
         
          let balance = document.querySelectorAll('.balance');
          balance.forEach((ele)=>{
             ele.innerText = user_data['BALANCE'];
          })

        }
     })
     
     
  </script>

</body>
</html>