<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/recharge.css">
    <meta name="keywords" content="profile, luck tree , lottery , prediction">
    <meta name="description" content="luck tree profile page user details.">
    <meta name="author" content="Rahul vishwakarma">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../JS/recharge.js"></script>
</head>
<body>
    <div class="header">
        <span class="logo"></span>
        <h2>
            <p>₹ <label class = 'balance'>00,000</label></p>
            <span class="notification"><ion-icon name="notifications"></ion-icon></span>
        </h2>
    </div>
    
    <main>
        <div class="qr_box">
           <div id="qr_container">

           </div>
        </div>

        <div class="pay_instructions">
            <div class = "weird_text">Add <span>YOUR MONEY</span> in wallet</div>
                <h3>Pay through any payment app's.</h3>
                <h3>Scan the qr code.</h3>
                <h3>Enter the UTR/transaction ID.</h3>
                <h3>Submit the request.</h3>
         
        </div>
        <div class = "pay_submit_fields" >
      
            <input type="number" placeholder = "Enter the amount." />
            <input type="number" placeholder = "Enter the UTR/transaction id." />
            <button id="pay_submit">SUBMIT</button>
        </div>

    </main>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>